.pagination.justify-content-center.my-5
	if page > 1
		.page-item
			a.page-link(href=`/book/list/1`) 처음
	else
		.page-item.disabled
			a.page-link(href=`#`) 처음
	if prevPager > 0
		.page-item
			a.page-link(href=`/book/list/${prevPager}`)
				i.fa.fa-angle-double-left
	else
		.page-item.disabled
			a.page-link(href=`#`)
				i.fa.fa-angle-double-left
	if page > 1
		.page-item
			a.page-link(href=`/book/list/${prevPage}`)
				i.fa.fa-angle-left
	else
		.page-item.disabled
			a.page-link(href=`#`)
				i.fa.fa-angle-left
	- for(let i=startPage; i<=endPage; i++)
		if page == i
			.page-item.active
				a.page-link(href=`/book/list/${i}`)= i
		else
			.page-item
				a.page-link(href=`/book/list/${i}`)= i
	if nextPage > 0
		.page-item
			a.page-link(href=`/book/list/${nextPage}`)
				i.fa.fa-angle-right
	else
		.page-item.disabled
			a.page-link(href=`#`)
				i.fa.fa-angle-right
	if nextPager > 0
		.page-item
			a.page-link(href=`/book/list/${nextPager}`)
				i.fa.fa-angle-double-right
	else
		.page-item.disabled
			a.page-link(href=`#`)
				i.fa.fa-angle-double-right
	if lastPage > 0
		.page-item
			a.page-link(href=`/book/list/${lastPage}`) 마지막
	else
		.page-item.disabled
			a.page-link(href=`#`) 마지막